@font-face {
    font-family: 'Scto Grotesk A';
    src: url('../fonts/Scto-Grotesk-A-Light.otf') format('otf');
    font-style: normal;
}

@font-face {
    font-family: 'Parnaso';
    src: url('../fonts/Parnaso-Regular.ttf') format('ttf');
    font-style: normal;
}
  