@mixin squareStructure {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0.25rem 0.375rem;
}

.universal-tag {
  @include squareStructure;
  @include p-small;

  border: solid 0.5px $black;
  text-transform: uppercase;
}
