// Color palette
$black: #282424;
$black-muted: #393636;
$pink: #f8a3e6;
$pink-100: #ffb9f0;
$pink-200: #ffc8f3;
$pink-300: #f9daee;
$pink-400: #fcecf6;
$purple: #8a69d4;
$purple-100: #ab92e1;
$purple-200: #bf9bde;
$purple-300: #c0aee7;

// Fonts
$primary-font: "Scto Grotesk A", "Helvetica Neue", helvetica, arial, sans-serif;
$title-font: "Parnaso", "Scto Grotesk A", "Helvetica Neue", helvetica, arial,
  sans-serif;

// Gradients
@mixin vertical-grad {
  background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%),
    $pink;
}

@mixin horizontal-grad {
  background: linear-gradient(90deg, #ffffff 45%, rgba(255, 255, 255, 0) 100%),
    $pink;
}
